<!doctype html>

<html>
<head>
<title> Just My Type </title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Custom styles for this template -->
<link href="cover.css" rel="stylesheet">


</head>
<body>

    <div class="site-wrapper">


      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Just My Type <a id="typed-cursor" class="blinking">|</a></h1>
            <p class="lead tagline">The typing game catered to you.</p>
            <p class="lead">
              <a href="/auth/facebook" class="btn btn-default">Login with Facebook</a>
              <p class = "lead">- or -</p>

              <form class="form-inline" method = "post" action = "/play">
                <div class="form-group">
                 <!-- <label for="exampleInputName2"> <h4> enter a keyword: </h4> </label> -->
                   <input type="text" class="form-control" name="keyword" placeholder="what interests you?" style = "background-color: #000; border-style: none; width">

                </div>
                <button type = "submit"> submit </button>
              </form>
            </p>
          </div>
        </div>
      </div>





    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" href = "routes.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"  type="text/javascript"></script>

  </body>
</html>
