/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
 body {
    /*  padding-top: px;
*/
}
/*
 * Global add-ons
 */
 #theWord {
    display: none;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .btn-customlevel {
    background: #0f0f0f;
    border-color:#0f0f0f;
    color: #ffffff;
    font-size: 14px;
    border: none;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight:bold;
    padding-top:12px;
    outline: 0px !important;
    -webkit-appearance:none;
}
.btn-customlevel:hover {
    background: #2a2a2a;
    border:none;
    color: #ffffff;
}
.btn-customlevel:active, .btn-customlevel:focus {
    color:#ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
}
#custom-bootstrap-menu.navbar-default .navbar-text {
    color: #ffffff;
    font-weight: bold;
}
.btn-custom {
    background: #0f0f0f;
    border-color:#0f0f0f;
    color: #ffffff;
    font-size: 14px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-custom:hover {
    background: #2a2a2a;
    border:none;
    color: #ffffff;
}
.btn-custom:active, .btn-custom:focus {
    background: #2a2a2a;
    border: none;
    color: #ffffff;
    outline: 0px !important;
    -webkit-appearance:none;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(15, 15, 15, 1);
    border: none;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(15, 15, 15, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover, #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a, #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover, #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(15, 15, 15, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #0f0f0f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover, #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #0f0f0f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #0f0f0f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar, #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #0f0f0f;
}
span.glyphicon {
    font-size: 28px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
 .sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 35px;
        bottom: 0;
        left: 5px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
 .nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
/*
 * Main content
 */
 .main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
 .placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}